<div class="container">
  <div class="row feature">
    <div class="col-12 feature-headline">সুবিধাসমূহ</div>
    <div class="col-12 feature-headline-sub">আন্তর্জাতিক মানের সুবিধা নিয়ে আমাদের হোস্টেল সজ্জিত</div>
    <div class="col-md-3">
      <div class="feature-box">
        <div class="feature-box-image">
          <img class="company_logo" src="assets/images/security.png">
        </div>
        <div class="feature-box-title">
          সার্বক্ষনিক নিরাপত্তা ব্যাবস্থা</div>
        <div class="feature-box-text">
          নিরাপত্তাই আমাদের প্রথম এবং প্রধান অগ্রাধিকার। আমাদের কাছে পাচ্ছেন সার্বক্ষনিক সিকিউরিটি গার্ড, ফিঙ্গারপ্রিন্ট এবং সিসিটিভি
          ক্যামেরা দ্বারা আবৃত নিরাপত্তা ব্যাবস্থা।</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-box">
        <div class="feature-box-image">
          <img class="company_logo" src="assets/images/wifi.png">
        </div>
        <div class="feature-box-title">
          ফ্রি উচ্চগতির ওয়াইফাই
        </div>
        <div class="feature-box-text">
          ফেসবুক,টুইটার,ইউটিউবের যুগে ইন্টারনেট ছাড়া কি চলে? আমাদের পুরো ক্যাম্পাস জুড়ে থাকছে সার্বক্ষনিক উচ্চগতির ওয়াইফাই ব্যাবস্থা।
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-box">
        <div class="feature-box-image">
          <img class="company_logo" src="assets/images/potatoes.png">
        </div>
        <div class="feature-box-title">
          মানসম্মত খাবার
        </div>
        <div class="feature-box-text">
          হোস্টেলের খাবার দেখে নাক সিটকানো শেষ। পর্যাপ্ত মানসম্মত খাবারের আয়োজন থাকছে। অস্বাস্থ্যকর এবং স্বাদহীন নয়, সুস্বাদু স্বাস্থ্যক
          হোমমেড খাবার সার্ভ করা হয় প্রতি বেলায়।
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-box">
        <div class="feature-box-image">
          <img class="company_logo" src="assets/images/fridge.png">
        </div>
        <div class="feature-box-title">
          দৈনন্দিন প্রয়োজনীয় সুবিধা</div>
        <div class="feature-box-text">
          টিভি, রেফ্রিজারেটর এবং ওয়াশিং মেশিনসহ সব ধরনের দৌনন্দিন প্রয়োজনীয় সুবিধা থাকছে হাতের নাগালে। সেই সাথে যেকোন প্রয়োজনীয় দ্রব্য
          অর্ডার করতে পারছেন অনলাইনে আমাদের শপ থেকেই।
        </div>
      </div>
    </div>
  </div>
</div>