.feature {
  font-family: 'Siyamrupali', Arial, sans-serif !important;
  &-headline {
    font-size: 30px;
    font-weight: 600;
    color: yellowgreen;
    text-align: center;
    &-sub {
      font-family: 'SolaimanLipi', 'Siyamrupali', Arial, sans-serif !important;
      font-size: 20px;
      text-align: center;
      padding-bottom: 35px;
      color: gray;
    }
  }
  &-box {
    // -webkit-box-shadow: 1px 1px 2px 0px rgba(133, 133, 133, 1);
    // -moz-box-shadow: 1px 1px 2px 0px rgba(133, 133, 133, 1);
    // box-shadow: 1px 1px 2px 0px rgba(133, 133, 133, 1);
    margin: 15px 0;
    padding: 15px;
    min-height: 250px;
    &-image {
      //   text-align: center;
      & img {
        height: 57px;
        max-width: 100%;
      }
    }
    &-title {
      //   text-align: center;
      font-family: 'SolaimanLipi', 'Siyamrupali', Arial, sans-serif !important;
      font-size: 20px;
      margin: 5px 0;
      //   &:hover {
      //     texsp
      //   }
    }
    &-text {
      color: gray;
      text-align: justify;
      font-size: 14px;
      //   text-align-last: justify;
    }
    &:hover {
      -webkit-box-shadow: 1px 1px 8px 0px rgba(31, 31, 31, 1);
      -moz-box-shadow: 1px 1px 8px 0px rgba(31, 31, 31, 1);
      box-shadow: 1px 1px 8px 0px rgba(31, 31, 31, 1);
      transition: all 0.3s ease-in;
    }
    &:hover .feature-box-title {
      //   font-size: 40px;
      letter-spacing: 2px;
      color: yellowgreen;
      transition: all 0.3s ease-in;
    }
  }
  //   &-box:hover {
  //     -webkit-box-shadow: 1px 1px 8px 0px rgba(31, 31, 31, 1);
  //     -moz-box-shadow: 1px 1px 8px 0px rgba(31, 31, 31, 1);
  //     box-shadow: 1px 1px 8px 0px rgba(31, 31, 31, 1);
  //     &-title {
  //       letter-spacing: 4px;
  //       font-size: 40px;
  //     }
  //   }
}
