<div class="m-0 top-banner default-primary-color">
  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-md-6 py-2 screen-shots ">
        <!--<img th:src="@{images/paperplane.png/}" class="img-fluid float-right" style="height: 100%"/>-->
      </div>
      <div class="col-md-6 text-center pl-3">
        <div class="top-banner-title">
          মনেরবাড়ি হোস্টেল
        </div>
        <div class="top-banner-dialog">
          <strong>ছাত্র / ছাত্রীদের</strong> জন্য নিরাপদ এবং আরামদায়ক বাসস্থান
        </div>
        <p class="top-banner-text">
          ঢাকা শহরে মেয়েদের জন্য পরিচ্ছন্ন এবং আধুনিক সুযোগ সুবিধাসহ হোস্টেল খুঁজে পাওয়া খুবই কষ্টকর। বিশেষ করে হোস্টেলগুলোতে পর্যাপ্ত
          নিরাপত্তা ব্যবস্থার অভাব এবং খাবারের নিন্মমান আমরা দেখে আসছি সেই কবে থেকেই! মনেরবাড়ি আপনার এই অসুবিধা বোঝে। আপনার
          মানসম্মত আবাসস্থল নিশ্চিত করতে আমরা বদ্ধপরিকর।
        </p>
        <button type="button" class="btn btn-outline-success raised" (click)="jumpToId('application')">আবেদন করুন</button>
        <!-- <a class="btn btn-lg btn-primary" role="button" href="/register">Sign up and Start Sending</a> -->
      </div>
    </div>
  </div>
</div>