<div class="container">
  <div class="row company">
    <div class="col-md-5 ">
      <img class="company_logo" src="assets/images/logo.png">
      <span class="company_name">মনেরবাড়ি হোস্টেল</span>
    </div>
    <div class="col-md-7">
      <i class="fa fa-clock-o company_icon"></i>
      <span class="company_label">09:00AM — 05:00PM</span>
      <span class="company_divider">|</span>
      <i class="fa fa-phone company_icon"></i>
      <span class="company_label">+88 01736-087 182</span>
      <button type="button" class="btn btn-outline-success raised" (click)="jumpToId('application')">আবেদন করুন</button>
    </div>
  </div>
</div>