/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: 'SolaimanLipi';
  src: url('assets/fonts/SolaimanLipi.ttf');
}

@font-face {
  font-family: 'Siyamrupali';
  src: url('assets/fonts/Siyamrupali.ttf');
}

.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
